@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menu-mb {
    display: none !important;
  }
  .search-mb {
    display: none;
  }
  .logo-mobile {
    display: none;
  }
  .product-detail .name-product {
    font-size: 20px !important;
    margin-top: 30px !important;
  }
  .topbar .menu .logo img {
    margin-bottom: 10px;
    width: 80% !important;
    height: 100%;
  }
  .topbar .menu .menu-list li a {
    font-size: 12px;
  }
  .topbar .menu .header-btn {
    font-size: 12px;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .menu-mb {
    display: block !important;
  }
  .media {
    display: none !important;
  }
  .bg-breadcrumb {
    margin: 0 !important;
    padding-top: 65px !important;
  }
  .head-mobile {
    position: fixed !important;
    z-index: 999;
    width: 100%;
    background-color: #ffffff;
  }
  .head-mobile .logo-mobile {
    display: block;
  }
  .head-mobile .logo-mobile img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .head-mobile .search-mb {
    display: block;
  }
  .product-detail .name-product {
    font-size: 20px !important;
    margin-top: 30px !important;
  }
  .topbar {
    display: none !important;
  }
}
@media (max-width: 426px) {
  .menu-mb {
    display: block !important;
  }
  .menu-mb .nav-mb {
    width: 100% !important;
  }
  .menu-mb .overlay {
    display: none;
  }
  .topbar {
    display: none !important;
  }
  .media {
    display: none !important;
  }
  .bg-breadcrumb {
    margin: 0 !important;
    padding-top: 65px !important;
  }
  .head-mobile {
    position: fixed !important;
    z-index: 999;
    width: 100%;
    height: 60px;
    background-color: #fffefe;
  }
  .head-mobile .logo-mobile {
    display: block;
  }
  .head-mobile .logo-mobile img {
    -o-object-fit: scale-down;
       object-fit: scale-down;
    width: 150px !important;
    margin: -10px 0 0 30px;
  }
  .head-mobile .search-mb {
    display: block;
  }
  .product-detail .name-product {
    font-size: 20px !important;
    margin-top: 30px !important;
  }
}
.head-mobile {
  display: none;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(121, 121, 121, 0.84);
}
.head-mobile .menu-mb {
  display: none;
}
.head-mobile .menu-mb .header-mb .hamburger {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  z-index: 9999;
  padding: 0;
  margin: 0;
}
.head-mobile .menu-mb .header-mb .hamburger .bar {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #000;
  border-radius: 3px;
  transition: all 0.5s;
}
.head-mobile .menu-mb .header-mb .hamburger .bar:nth-child(1) {
  transform: translateY(-10px);
  width: 20px;
  left: 10px;
}
.head-mobile .menu-mb .header-mb .hamburger .bar:nth-child(2) {
  transform: translateY(10px);
  width: 15px;
  left: 10px;
}
.head-mobile .menu-mb .header-mb .hamburger.active .bar {
  background: red;
}
.head-mobile .menu-mb .header-mb .hamburger.active .bar:nth-child(1) {
  width: 30px;
  transform: translateY(0) rotate(45deg);
}
.head-mobile .menu-mb .header-mb .hamburger.active .bar:nth-child(2) {
  width: 30px;
  transform: translateY(0) rotate(315deg);
}
.head-mobile .menu-mb .header-mb .hamburger.active .bar:nth-child(3) {
  transform: translateX(60px);
}
.head-mobile .menu-mb .header-mb img {
  display: none;
}
.head-mobile .menu-mb .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.162);
  z-index: 5;
  transition: opacity 0.3s ease;
}
.head-mobile .menu-mb .overlay.active {
  display: block;
}
.head-mobile .menu-mb .nav-mb {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: -550px;
  width: 50%;
  height: 100%;
  background-color: white;
  padding-top: 50px;
  transition: left 0.5s ease;
  z-index: 9;
}
.head-mobile .menu-mb .nav-mb .menu-list {
  color: white;
}
.head-mobile .menu-mb .nav-mb .menu-list li {
  background-color: #608127;
  border-bottom: white solid 1px;
  padding: 0;
}
.head-mobile .menu-mb .nav-mb .menu-list li:last-child {
  border-bottom: none !important;
}
.head-mobile .menu-mb .nav-mb .menu-list li a {
  margin-left: 10px;
  padding: 10px;
}
.head-mobile .menu-mb .nav-mb .menu-list .submenu li {
  background-color: white;
  border-bottom: 1px solid #608127;
}
.head-mobile .menu-mb .nav-mb .menu-list .submenu li a {
  color: black !important;
}
.head-mobile .menu-mb .nav-mb .menu-list .submenu li a:hover {
  background: none !important;
  color: #b7c367 !important;
}
.head-mobile .menu-mb .nav-mb.active {
  left: 0;
  width: 50%;
}
.head-mobile .menu-mb .nav-mb ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.head-mobile .menu-mb .nav-mb li a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: block;
}
.head-mobile .menu-mb .nav-mb li a:hover {
  background: none;
  color: #d1db91;
}
.head-mobile .logo-mobile {
  margin: 0;
}
.head-mobile .logo-mobile img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 70px !important;
}
.head-mobile .search-mb i {
  font-size: 20px;
  color: #608127;
  margin: 23px 20px 0 0;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.header {
  background-color: #608127;
}
.header .info .contact {
  color: #ffffff;
  display: flex;
  font-size: 14px;
  height: 15px;
}
.header .info .contact .hotline {
  display: flex;
  margin-left: 100px;
}
.header .info .contact .hotline .number {
  font-weight: 600;
}
.header .info .contact .email {
  display: flex;
  margin-left: 100px;
}
.header .info .contact .email .eml {
  font-weight: 600;
}
.header .info .login-cart {
  display: flex;
  justify-content: end;
}
.header .info .login-cart a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.menu {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(102, 102, 102, 0.7450980392);
}
.menu .logo {
  width: 200px;
  height: 85px;
  margin-bottom: 10px;
}
.menu .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.menu .header-btn {
  font-weight: 600;
  border-radius: 15px 0;
  background: #608127;
  color: #ffffff !important;
  padding: 10px 20px;
  border: 1px solid #608127;
  text-decoration: none;
}
.menu .header-btn:hover {
  color: #608127 !important;
  background-color: white;
}
.menu .main-menu {
  max-width: 1444px !important;
}
.menu .menu-list {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu .menu-list li {
  position: relative;
  cursor: pointer;
}
.menu .menu-list li a {
  text-decoration: none;
  color: #000;
}
.menu .menu-list li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #d39f04;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.menu .menu-list li:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.menu .menu-list li:hover > .submenu {
  display: block;
}
.menu .menu-list li .home-search {
  color: #608127;
}
.menu .menu-list .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6196078431);
  list-style-type: none;
  padding: 10px 10px;
  transform: translateX(0);
  transition: transform 0.5s ease;
}
.menu .menu-list .submenu li {
  padding: 5px 5px;
  white-space: nowrap;
}
.menu .menu-list .submenu li:hover {
  display: block;
  transform: translateX(5px);
  transition: 0.5s;
}

.bg-breadcrumb {
  margin-top: 65px;
  background: #f7f7f7;
}
.bg-breadcrumb .breadcrumb {
  padding: 10px;
}
.bg-breadcrumb .breadcrumb .breadcrumb-item {
  font-size: 14px;
}
.bg-breadcrumb .breadcrumb .breadcrumb-item a {
  color: #608127;
  text-decoration: none;
  font-weight: bold;
}
.bg-breadcrumb .breadcrumb .active {
  color: #608127;
  font-weight: bold;
}
.bg-breadcrumb .breadcrumb .active::before {
  content: "";
}
.bg-breadcrumb .breadcrumb .active i {
  color: #d39f00;
  margin: 3px 10px 0;
  font-size: 14px;
}

.product-detail .slider-for {
  margin-top: 30px;
}
.product-detail .slider-for .img-product img {
  width: 100%;
  height: 400px;
  border: 1px solid rgb(161, 161, 161);
}
.product-detail .slider-nav {
  margin-top: 20px;
}
.product-detail .slider-nav .img-product img {
  margin: 0 auto;
  border: 1px solid rgb(174, 174, 174);
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  height: 100px;
}
.product-detail .slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  color: #608127;
  outline: none;
  border: none;
  background: none;
  overflow: hidden;
}
.product-detail .slick-arrow i {
  font-weight: bolder;
  font-size: 24px;
}
.product-detail .slick-arrow.slick-prev {
  left: 0;
}
.product-detail .slick-arrow.slick-prev, .product-detail .slick-arrow.slick-next {
  width: 35px;
  height: 35px;
}
.product-detail .name-product {
  font-size: 28px;
  margin-bottom: 5px;
}
.product-detail .star {
  font-size: 0.75rem;
  color: #feda00;
}
.product-detail .box-price {
  background: #fbfbfb;
  padding: 0 15px 8px;
  margin-top: 20px;
  justify-content: start;
  display: flex;
  align-items: center;
}
.product-detail .box-price .price {
  margin-left: 50px;
  font-size: 22px;
  color: red;
  font-weight: bold;
}
.product-detail .box-price .price-sale {
  margin-left: 50px;
  color: rgb(177, 177, 177);
  text-decoration: line-through;
}
.product-detail .box-price .discount {
  margin-left: 30px;
  background-color: rgb(226, 35, 35);
  color: white;
  font-size: 14px;
  padding: 0 4px;
}
.product-detail .product-desc {
  display: flex;
  padding-top: 20px;
}
.product-detail .product-desc span {
  width: 10%;
}
.product-detail .product-desc .content {
  width: 90%;
  margin-left: 15px;
  text-align: justify;
  font-size: 15px;
}
.product-detail .box-contact {
  display: flex;
  margin: 30px 0 25px;
}
.product-detail .box-contact .order-form {
  width: 220px;
  border-radius: 3px;
  color: #608127;
  border: 1px solid #608127;
  text-align: center;
  padding: 7px;
  cursor: pointer;
  transition: all 0.5s;
}
.product-detail .box-contact .order-form:hover {
  background-color: #608127;
  color: white !important;
}
.product-detail .box-contact .btn-phone {
  text-decoration: none;
  color: #fff;
  background: #608127;
  width: 220px;
  border-radius: 3px;
  text-align: center;
  padding: 8px;
  margin-left: 15px;
}
.product-detail .share {
  box-sizing: border-box;
  border: none;
}
.product-detail .share .ul-reset {
  padding: 0;
  margin: 0;
  gap: 15px;
}
.product-detail .share .ul-reset li {
  list-style: none;
  cursor: pointer;
}
.product-detail .share .ul-reset li i {
  font-size: 28px;
}
.product-detail .share .ul-reset li .facebook {
  color: rgb(19, 87, 246);
}
.product-detail .share .ul-reset li .google-plus {
  color: rgb(250, 18, 18);
}
.product-detail .share .ul-reset li .twitter {
  color: rgb(0, 0, 0);
}
.product-detail .share .ul-reset li .mess {
  color: rgb(78, 146, 243);
}
.product-detail .share .ul-reset li .pinterest {
  color: rgb(248, 21, 21);
}
.product-detail .link {
  margin: 40px -10px 0;
}
.product-detail .link .ul-reset {
  padding: 0;
  margin: 0;
}
.product-detail .link .ul-reset li {
  list-style: none;
  margin: 0 10px;
}

.table {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 20px;
  color: #212529;
}
.table .nav {
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.table .nav .nav-item {
  padding: 8px 0;
  position: relative;
  cursor: pointer;
}
.table .nav .nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #d39f04;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.table .nav .nav-item:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.table .nav .nav-item .nav-link {
  color: black;
}
.table .nav .nav-item.active .nav-link {
  color: #608127;
  background: #f1f1f2;
}
.table .nav .nav-item.active::before {
  background: none;
}

.content-item.active {
  display: block;
}

.product-recent-title {
  color: #608127;
  background: #edffe1;
  font-weight: bold;
  font-size: 24px;
  padding: 6px;
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.other-product .other-item .img-other-prd img {
  border: #000 1px solid;
  width: 200px;
  height: 250px;
  transition: transform 0.5s ease;
}
.other-product .other-item .img-other-prd img:hover {
  transform: scale(1.1);
}
.other-product .other-item .info-other-prd {
  text-align: center;
}
.other-product .other-item .info-other-prd .name-other-prd {
  margin-top: 15px;
}
.other-product .other-item .info-other-prd .name-other-prd a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  overflow-wrap: break-word;
}
.other-product .other-item .info-other-prd .name-other-prd a:hover {
  color: #608127;
}
.other-product .other-item .info-other-prd .price-other-prd {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

footer {
  padding-top: 50px;
  margin-top: 50px;
  background-color: rgba(230, 230, 230, 0.784);
}
footer .logo-footer {
  text-align: center;
  margin-bottom: 25px;
}
footer .logo-footer img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 247px;
  height: 99px;
}
footer .title-footer {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
footer .info-footer {
  color: black;
}
footer .info-footer p {
  margin-bottom: 10px;
}
footer .member {
  padding: 30px 0;
}
footer .member .title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
footer .member .member-list {
  display: flex;
  justify-content: center;
}
footer .member .member-list img {
  width: 92px;
  height: 57px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .ul-reset {
  padding: 0;
  margin: 0;
}
footer .ul-reset li {
  padding: 4px 0;
  text-align: left;
  list-style: none;
}
footer .ul-reset li a {
  padding-left: 40px;
  color: black;
  text-decoration: none;
}
footer .form-subcri {
  margin-top: 10px;
  position: relative;
  border: 1px solid #608127;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
footer .form-subcri .form-control {
  border: 0;
  box-shadow: none;
  height: 40px;
  background: unset !important;
}
footer .form-subcri button {
  color: #fff;
  background: #608127;
  border: 0;
  border-radius: 0 3px 3px 0;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 2px;
}
footer .social-footer {
  display: flex;
  margin: 15px 0;
}
footer .social-footer .embed-responsive {
  margin-left: 60px;
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}/*# sourceMappingURL=detail.css.map */