@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$maincolor: #608127;
$textcolor: #ffffff;

@media (min-width:768px) and (max-width:1024px) {
    .menu-mb {
        display: none !important;
    }

    .search-mb {
        display: none;
    }

    .logo-mobile {
        display: none;
    }
    .product-detail{
        .name-product{
            font-size: 20px !important;
            margin-top: 30px !important;
        }
    }


    .topbar {
        .menu {
            
            .logo {
                img {
                    margin-bottom: 10px;
                    width: 80% !important;
                    height: 100%;
                }
            }

            .menu-list {
                li {
                    a {
                        font-size: 12px;
                    }
                }
            }

            .header-btn {
                font-size: 12px;
            }
        }
    }

}

@media (min-width:425px) and (max-width: 768px) {

    .menu-mb {
        display: block !important;
    }

    .media {
        display: none !important;
    }
    .bg-breadcrumb{
        margin: 0 !important;
        padding-top: 65px !important;
    }
    .head-mobile{
        position: fixed !important;
        z-index: 999;
        width: 100%;
        background-color: #ffffff;
        .logo-mobile{
            display: block;
            img{
                object-fit: cover;
            }
        }
        .search-mb{
            display: block;
        }
    }

    .product-detail{
        .name-product{
            font-size: 20px !important;
            margin-top: 30px !important;
        }
    }

    .topbar {
        display: none !important;
    }

}

@media (max-width: 426px) {
    .menu-mb {
        display: block !important;

        .nav-mb {
            width: 100% !important;
        }

        .overlay {
            display: none;
        }
    }

    .topbar {
        display: none !important;
    }

    .media {
        display: none !important;
    }
    .bg-breadcrumb{
        margin: 0 !important;
        padding-top: 65px !important;
    }
    .head-mobile{
        position: fixed !important;
        z-index: 999;   
        width: 100%;
        height: 60px;
        background-color: #fffefe;
        .logo-mobile{
            display: block;
            img{
                object-fit: scale-down ;
                width: 150px !important;
                margin: -10px 0 0 30px;
            }
        }
        .search-mb{
            display: block;
        }
    }
    .product-detail{
        .name-product{
            font-size: 20px !important;
            margin-top: 30px !important;
        }
    }
}




.head-mobile {
    display: none;
    display: flex;
    justify-content: space-between;
    box-shadow:0 4px 8px  rgba(121, 121, 121, 0.84);

    .menu-mb {
        display: none;
        .header-mb {
            .hamburger {
                position: fixed;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                overflow: hidden;
                z-index: 9999;
                padding: 0;
                margin: 0;

                .bar {
                    position: absolute;
                    width: 30px;
                    height: 3px;
                    background: #000;
                    border-radius: 3px;
                    transition: all .5s;

                    &:nth-child(1) {
                        transform: translateY(-10px);
                        width: 20px;
                        left: 10px;
                    }

                    &:nth-child(2) {
                        transform: translateY(10px);
                        width: 15px;
                        left: 10px;
                    }
                }

                &.active {
                    .bar {
                        background: red;

                        &:nth-child(1) {
                            width: 30px;
                            transform: translateY(0) rotate(45deg);
                        }

                        &:nth-child(2) {
                            width: 30px;
                            transform: translateY(0) rotate(315deg);
                        }

                        &:nth-child(3) {
                            transform: translateX(60px);
                        }
                    }
                }
            }

            img {
                display: none;
            }
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.162);
            z-index: 5;
            transition: opacity 0.3s ease;
        }

        .overlay.active {
            // display: none;
            display: block;
        }

        .nav-mb {
            overflow-y: auto;
            position: fixed;
            top: 0;
            left: -550px;
            width: 50%;
            height: 100%;
            background-color: white;
            padding-top: 50px;
            transition: left 0.5s ease;
            z-index: 9;

            .menu-list {
                color: white;

                li {
                    background-color: $maincolor;
                    border-bottom: white solid 1px;

                    &:last-child {
                        border-bottom: none !important;
                    }

                    padding: 0;

                    a {
                        margin-left: 10px;
                        padding: 10px;

                    }
                }

                .submenu {

                    li {
                        background-color: white;
                        border-bottom: 1px solid $maincolor;

                        a {
                            color: black !important;

                            &:hover {
                                background: none !important;
                                color: #b7c367 !important;
                            }
                        }
                    }
                }
            }
        }

        .nav-mb.active {
            left: 0;
            width: 50%;
        }

        .nav-mb ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .nav-mb li a {
            cursor: pointer;
            color: white;
            text-decoration: none;
            display: block;
        }

        .nav-mb li a:hover {
            background: none;
            color: #d1db91;
        }


    }

    .logo-mobile {
        margin: 0;
        img{
            object-fit: cover;
            height: 70px !important;
        }
    }
    .search-mb{
        i{
            font-size: 20px;
            color: $maincolor;
            margin: 23px 20px 0  0 ;
        }
    }

}


.topbar {
    // position: sticky;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.header {
    background-color: $maincolor;

    .info {

        .contact {
            color: $textcolor;
            display: flex;
            font-size: 14px;
            height: 15px;

            .hotline {
                display: flex;
                margin-left: 100px;

                .number {
                    font-weight: 600;
                }
            }

            .email {
                display: flex;
                margin-left: 100px;

                .eml {
                    font-weight: 600;
                }
            }
        }

        .login-cart {
            display: flex;
            justify-content: end;

            a {
                font-size: 14px;
                color: white;
                text-decoration: none;
            }
        }
    }
}

.menu {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px #666666be;

    .logo {
        width: 200px;
        height: 85px;
        margin-bottom: 10px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .header-btn {
        font-weight: 600;
        border-radius: 15px 0;
        background: #608127;
        color: $textcolor !important;
        padding: 10px 20px;
        border: 1px solid #608127;
        text-decoration: none;

        &:hover {
            color: $maincolor !important;
            background-color: white;
        }
    }

    .main-menu {
        max-width: 1444px !important;

    }

    .menu-list {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;


        li {
            position: relative;
            cursor: pointer;

            a {
                text-decoration: none;
                color: #000;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: #d39f04;
                transform-origin: bottom right;
                transform: scaleX(0);
                transition: transform .5s ease;
            }

            &:hover::before {
                transform-origin: bottom left;
                transform: scaleX(1);
            }

            &:hover>.submenu {
                display: block;
            }

            .home-search {
                color: $maincolor;
            }
        }


        .submenu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #ffffff;
            box-shadow: 0px 2px 5px #0000009e;
            list-style-type: none;
            padding: 10px 10px;
            transform: translateX(0);
            transition: transform 0.5s ease;

            li {
                padding: 5px 5px;
                white-space: nowrap;

                &:hover {
                    display: block;
                    transform: translateX(5px);
                    transition: calc(0.5s);
                }
            }
        }
    }
}

.bg-breadcrumb {
    margin-top: 65px;
    background: #f7f7f7;

    .breadcrumb {
        padding: 10px;

        .breadcrumb-item {
            font-size: 14px;

            a {
                color: $maincolor;
                text-decoration: none;
                font-weight: bold;
            }
        }

        .active {
            color: $maincolor;
            font-weight: bold;

            &::before {
                content: "";
            }

            i {
                color: #d39f00;
                margin: 3px 10px 0;
                font-size: 14px;
            }
        }
    }
}

.product-detail {
    .slider-for {
        margin-top: 30px;

        .img-product {
            img {
                width: 100%;
                height: 400px;
                border: 1px solid rgb(161, 161, 161);
            }
        }
    }

    .slider-nav {
        margin-top: 20px;

        .img-product {
            img {
                margin: 0 auto;
                border: 1px solid rgb(174, 174, 174);
                border-radius: 10px;
                object-fit: cover;
                width: 100px;
                height: 100px;
            }
        }
    }

    // .slick-center {
    //     width: 5.2% !important;
    //     border-radius: 10px;
    //     border: 2px solid red;
    // }

    .slick-arrow {
        i {
            font-weight: bolder;
            font-size: 24px;
        }

        position: absolute;
        z-index: 1;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
        color: $maincolor;
        outline: none;
        border: none;
        background: none;
        overflow: hidden;

        &.slick-prev {
            left: 0;
        }

        &.slick-prev,
        &.slick-next {
            width: 35px;
            height: 35px;
        }
    }


    .name-product {
        font-size: 28px;
        margin-bottom: 5px;
    }

    .star {
        font-size: .75rem;
        color: #feda00;
    }

    .box-price {
        background: #fbfbfb;
        padding: 0 15px 8px;
        margin-top: 20px;
        justify-content: start;
        display: flex;
        align-items: center;

        .price {
            margin-left: 50px;
            font-size: 22px;
            color: red;
            font-weight: bold;
        }

        .price-sale {
            margin-left: 50px;
            color: rgb(177, 177, 177);
            text-decoration: line-through;
        }

        .discount {
            margin-left: 30px;
            background-color: rgb(226, 35, 35);
            color: white;
            font-size: 14px;
            padding: 0 4px;
        }
    }

    .product-desc {
        display: flex;
        padding-top: 20px;

        span {
            width: 10%;
        }

        .content {
            width: 90%;
            margin-left: 15px;
            text-align: justify;
            font-size: 15px;
        }
    }

    .box-contact {
        display: flex;
        margin: 30px 0 25px;

        .order-form {
            width: 220px;
            border-radius: 3px;
            color: $maincolor;
            border: 1px solid $maincolor;
            text-align: center;
            padding: 7px;
            cursor: pointer;
            transition: all .5s;

            &:hover {
                background-color: $maincolor;
                color: white !important;


            }
        }

        .btn-phone {
            text-decoration: none;
            color: #fff;
            background: #608127;
            width: 220px;
            border-radius: 3px;
            text-align: center;
            padding: 8px;
            margin-left: 15px;
        }
    }

    .share {
        box-sizing: border-box;
        border: none;

        .ul-reset {
            padding: 0;
            margin: 0;
            gap: 15px;

            li {
                list-style: none;
                cursor: pointer;

                i {
                    font-size: 28px;

                }

                .facebook {
                    color: rgb(19, 87, 246);
                }

                .google-plus {
                    color: rgb(250, 18, 18);
                }

                .twitter {
                    color: rgb(0, 0, 0);
                }

                .mess {
                    color: rgb(78, 146, 243);
                }

                .pinterest {
                    color: rgb(248, 21, 21);
                }
            }
        }
    }

    .link {
        margin: 40px -10px 0;

        .ul-reset {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                margin: 0 10px;
            }
        }
    }
}

.table {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 20px;
    color: #212529;

    .nav {
        align-items: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        .nav-item {
            padding: 8px 0;
            position: relative;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: #d39f04;
                transform-origin: bottom right;
                transform: scaleX(0);
                transition: transform .5s ease;
            }

            &:hover::before {
                transform-origin: bottom left;
                transform: scaleX(1);
            }

            .nav-link {
                color: black;
            }

            &.active {
                .nav-link {
                    color: #608127;
                    background: #f1f1f2;
                }

                &::before {
                    background: none;
                }
            }
        }

    }
}

.content-item {
    &.active {
        display: block;
    }
}

.product-recent-title {
    color: #608127;
    background: #edffe1;
    font-weight: bold;
    font-size: 24px;
    padding: 6px;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.other-product {

    .other-item {
        .img-other-prd {
            img {
                border: #000 1px solid;
                width: 200px;
                height: 250px;
                transition: transform 0.5s ease;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }

        .info-other-prd {
            text-align: center;

            .name-other-prd {
                margin-top: 15px;
                a {
                    display: -webkit-box;
                    -webkit-line-clamp: 2; 
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    text-decoration: none;
                    color: #000;
                    font-weight: bold;
                    font-size: 14px;
                    overflow-wrap: break-word;
                    &:hover{
                        color: $maincolor;
                    }
                }
            }
            .price-other-prd{
                color: red;
                font-weight: bold;
                font-size: 16px;
            }

        }
    }
}

footer {
    padding-top: 50px;
    margin-top: 50px;
    background-color: rgba(230, 230, 230, 0.784);

    .logo-footer {
        text-align: center;
        margin-bottom: 25px;

        img {
            object-fit: cover;
            width: 247px;
            height: 99px;
        }
    }

    .title-footer {
        color: #000;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 5px;



    }

    .info-footer {
        color: black;

        p {
            margin-bottom: 10px;
        }
    }

    .member {
        padding: 30px 0;

        .title {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
        }

        .member-list {
            display: flex;
            justify-content: center;

            img {
                width: 92px;
                height: 57px;
                object-fit: contain;
            }
        }
    }

    .ul-reset {
        padding: 0;
        margin: 0;

        li {
            padding: 4px 0;
            text-align: left;
            list-style: none;

            a {
                padding-left: 40px;
                color: black;
                text-decoration: none;
            }
        }
    }

    .form-subcri {
        margin-top: 10px;
        position: relative;
        border: 1px solid #608127;
        border-radius: 20px;
        display: flex;
        align-items: center;

        .form-control {
            border: 0;
            box-shadow: none;
            height: 40px;
            background: unset !important;
        }

        button {
            color: #fff;
            background: #608127;
            border: 0;
            border-radius: 0 3px 3px 0;
            border-radius: 50%;
            height: 35px;
            width: 35px;
            margin-right: 2px;
        }
    }

    .social-footer {
        display: flex;
        margin: 15px 0;

        .embed-responsive {
            margin-left: 60px;
            position: relative;
            display: block;
            width: 100%;
            padding: 0;
            overflow: hidden;
        }
    }
}