@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menu-mb {
    display: none !important;
  }
  .search-mb {
    display: none;
  }
  .logo-mobile {
    display: none;
  }
  .topbar .menu .logo img {
    margin-bottom: 10px;
    width: 150px !important;
    height: 100%;
  }
  .topbar .menu .menu-list li a {
    font-size: 12px;
  }
  .topbar .menu .header-btn {
    font-size: 12px;
  }
  .banner {
    padding-top: 60px;
    margin: 0px !important;
  }
  .banner .list-banner img {
    width: 100% !important;
  }
  .products .category {
    font-size: 14px;
  }
  .feedback .list-feedback .feedback-item .feedback-content {
    font-size: 14px;
    height: 350px !important;
  }
  .question .box-question .card-question .card .card-head .item-center {
    display: flex !important;
  }
  .question .box-question .card-question .card .card-head .item-center .btn-card {
    margin-left: 100px !important;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .menu-mb {
    display: block !important;
  }
  .media {
    display: none !important;
  }
  .head-mobile {
    position: fixed !important;
    z-index: 999;
    width: 100%;
    background-color: #ffffff;
  }
  .head-mobile .logo-mobile {
    display: block;
  }
  .head-mobile .logo-mobile img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .head-mobile .search-mb {
    display: block;
  }
  .topbar {
    display: none !important;
  }
  .banner {
    margin: 0 !important;
    padding-top: 30px;
  }
  .banner .contact {
    display: none;
  }
  .banner .list-banner .banner {
    margin: 0;
  }
  .banner .list-banner .banner img {
    width: 100% !important;
    height: 100% !important;
  }
  .products .category {
    white-space: nowrap;
    overflow-x: auto;
  }
  .products .category .list-category {
    justify-content: flex-start !important;
  }
  .feedback .list-feedback .feedback-item .feedback-content {
    font-size: 14px;
    height: 250px !important;
  }
  .question .box-question .card-question .card .card-head .item-center {
    display: flex !important;
  }
  .question .box-question .card-question .card .card-head .item-center .btn-card {
    margin-left: 10px !important;
  }
}
@media (max-width: 426px) {
  .menu-mb {
    display: block !important;
  }
  .menu-mb .nav-mb {
    width: 100% !important;
  }
  .menu-mb .overlay {
    display: none;
  }
  .topbar {
    display: none !important;
  }
  .media {
    display: none !important;
  }
  .head-mobile {
    position: fixed !important;
    z-index: 999;
    width: 100%;
    height: 60px;
    background-color: #fffefe;
  }
  .head-mobile .logo-mobile {
    display: block;
  }
  .head-mobile .logo-mobile img {
    -o-object-fit: scale-down;
       object-fit: scale-down;
    width: 150px !important;
    margin: -10px 0 0 30px;
  }
  .head-mobile .search-mb {
    display: block;
  }
  .banner {
    margin: 0 !important;
    padding-top: 30px;
  }
  .banner .contact {
    display: none;
  }
  .banner .list-banner .banner {
    margin: 0;
  }
  .banner .list-banner .banner img {
    width: 100% !important;
    height: 100% !important;
  }
  .products .category {
    white-space: nowrap;
    overflow-x: auto;
  }
  .products .category .list-category {
    justify-content: flex-start !important;
  }
  .products .info-product .product .sale-price {
    font-size: 12px;
  }
  .products .info-product .product .price .original-price p {
    font-size: 12px;
  }
  .title-intro {
    font-size: 20px !important;
  }
  .title-solution {
    font-size: 20px !important;
  }
  .title-feedback p {
    font-size: 24px !important;
  }
  .title-advantage {
    font-size: 24px !important;
  }
  .title-footer {
    font-size: 20px !important;
  }
  .title-product p {
    font-size: 20px !important;
  }
  .feedback .title-feedback p {
    font-size: 20px !important;
  }
  .feedback .list-feedback .feedback-item .feedback-content {
    font-size: 12px;
    height: 400px !important;
  }
  .question .box-question .card-question .card .card-head .item-center {
    display: flex !important;
  }
  .question .box-question .card-question .card .card-head .item-center .btn-card {
    margin-left: 10px !important;
  }
}
@keyframes pulse-fixed {
  0% {
    box-shadow: 0 0 0 0 rgba(212, 172, 54, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(212, 172, 54, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(212, 172, 54, 0);
  }
}
.media {
  position: fixed;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 90;
}
.media a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #ffffff;
  background: #d4ac36;
  margin-bottom: 20px;
  box-shadow: 0 0 0 0 #fff;
  animation: pulse-fixed 2s infinite;
}
.media i {
  font-size: 20px;
}

.head-mobile {
  display: none;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(121, 121, 121, 0.84);
}
.head-mobile .menu-mb {
  display: none;
}
.head-mobile .menu-mb .header-mb .hamburger {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  z-index: 9999;
  padding: 0;
  margin: 0;
}
.head-mobile .menu-mb .header-mb .hamburger .bar {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #000;
  border-radius: 3px;
  transition: all 0.5s;
}
.head-mobile .menu-mb .header-mb .hamburger .bar:nth-child(1) {
  transform: translateY(-10px);
  width: 20px;
  left: 10px;
}
.head-mobile .menu-mb .header-mb .hamburger .bar:nth-child(2) {
  transform: translateY(10px);
  width: 15px;
  left: 10px;
}
.head-mobile .menu-mb .header-mb .hamburger.active .bar {
  background: red;
}
.head-mobile .menu-mb .header-mb .hamburger.active .bar:nth-child(1) {
  width: 30px;
  transform: translateY(0) rotate(45deg);
}
.head-mobile .menu-mb .header-mb .hamburger.active .bar:nth-child(2) {
  width: 30px;
  transform: translateY(0) rotate(315deg);
}
.head-mobile .menu-mb .header-mb .hamburger.active .bar:nth-child(3) {
  transform: translateX(60px);
}
.head-mobile .menu-mb .header-mb img {
  display: none;
}
.head-mobile .menu-mb .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.162);
  z-index: 5;
  transition: opacity 0.3s ease;
}
.head-mobile .menu-mb .overlay.active {
  display: block;
}
.head-mobile .menu-mb .nav-mb {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: -550px;
  width: 50%;
  height: 100%;
  background-color: white;
  padding-top: 50px;
  transition: left 0.5s ease;
  z-index: 9;
}
.head-mobile .menu-mb .nav-mb .menu-list {
  color: white;
}
.head-mobile .menu-mb .nav-mb .menu-list li {
  background-color: #608127;
  border-bottom: white solid 1px;
  padding: 0;
}
.head-mobile .menu-mb .nav-mb .menu-list li:last-child {
  border-bottom: none !important;
}
.head-mobile .menu-mb .nav-mb .menu-list li a {
  margin-left: 10px;
  padding: 10px;
}
.head-mobile .menu-mb .nav-mb .menu-list .submenu li {
  background-color: white;
  border-bottom: 1px solid #608127;
}
.head-mobile .menu-mb .nav-mb .menu-list .submenu li a {
  color: black !important;
}
.head-mobile .menu-mb .nav-mb .menu-list .submenu li a:hover {
  background: none !important;
  color: #b7c367 !important;
}
.head-mobile .menu-mb .nav-mb.active {
  left: 0;
  width: 50%;
}
.head-mobile .menu-mb .nav-mb ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.head-mobile .menu-mb .nav-mb li a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: block;
}
.head-mobile .menu-mb .nav-mb li a:hover {
  background: none;
  color: #d1db91;
}
.head-mobile .logo-mobile {
  margin: 0;
}
.head-mobile .logo-mobile img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 70px !important;
}
.head-mobile .search-mb i {
  font-size: 20px;
  color: #608127;
  margin: 23px 20px 0 0;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
.topbar .header {
  background-color: #608127;
}
.topbar .header .info .contact {
  color: #ffffff;
  display: flex;
  font-size: 14px;
  height: 15px;
}
.topbar .header .info .contact .hotline {
  display: flex;
  margin-left: 100px;
}
.topbar .header .info .contact .hotline .number {
  font-weight: 600;
}
.topbar .header .info .contact .email {
  display: flex;
  margin-left: 100px;
}
.topbar .header .info .contact .email .eml {
  font-weight: 600;
}
.topbar .header .info .login-cart {
  display: flex;
  justify-content: end;
}
.topbar .header .info .login-cart a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.topbar .menu {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(102, 102, 102, 0.7450980392);
}
.topbar .menu .logo {
  width: 200px;
  height: 85px;
  margin-bottom: 10px;
}
.topbar .menu .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.topbar .menu .header-btn {
  font-weight: 600;
  border-radius: 15px 0;
  background: #608127;
  color: #ffffff !important;
  padding: 10px 20px;
  border: 1px solid #608127;
  text-decoration: none;
}
.topbar .menu .header-btn:hover {
  color: #608127 !important;
  background-color: white;
}
.topbar .menu .main-menu {
  max-width: 1444px !important;
}
.topbar .menu .menu-list {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.topbar .menu .menu-list li {
  position: relative;
  cursor: pointer;
}
.topbar .menu .menu-list li a {
  text-decoration: none;
  color: #000;
}
.topbar .menu .menu-list li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #d39f04;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.topbar .menu .menu-list li:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.topbar .menu .menu-list li:hover > .submenu {
  display: block;
}
.topbar .menu .menu-list li .home-search {
  color: #608127;
}
.topbar .menu .menu-list .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6196078431);
  list-style-type: none;
  padding: 10px 10px;
  transform: translateX(0);
  transition: transform 0.5s ease;
}
.topbar .menu .menu-list .submenu li {
  padding: 5px 5px;
  white-space: nowrap;
}
.topbar .menu .menu-list .submenu li:hover {
  display: block;
  transform: translateX(5px);
  transition: 0.5s;
}

.banner {
  position: relative;
  margin-top: 60px;
}
.banner .list-banner img {
  width: 1492px;
  height: auto;
}
.banner .contact {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  background: rgba(96, 129, 39, 0.479);
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 17px;
}
.banner .contact a {
  color: #ffffff;
}

.intro-left,
.intro-right {
  margin-top: 60px !important;
}

.title-intro {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}
.title-intro p {
  color: #608127;
}

.text-intro {
  color: black;
  font-weight: 600;
  text-align: justify;
}

.list-intro .slide {
  margin-right: 20px;
  background-color: #608127;
  padding: 20px;
  border-radius: 5px;
}
.list-intro .box-intro {
  color: #ffffff;
  text-align: justify;
}
.list-intro .box-intro .top-slide {
  display: flex;
}
.list-intro .box-intro .top-slide .name-intro {
  font-weight: bold;
  margin-top: 10px;
}
.list-intro .box-intro .top-slide .img-slide {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.list-intro .box-intro .top-slide .img-slide img {
  width: 65%;
}

.img-intro {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.solution {
  background-color: rgb(236, 236, 236);
  margin-top: 50px;
}
.solution .title-solution {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 40px;
}
.solution .title-solution p {
  color: #608127;
}
.solution .list-solution {
  margin: 0 auto;
}
.solution .list-solution .slick-center img {
  border: 7px solid #608127;
  border-radius: 50%;
}
.solution .list-solution .slick-center img:hover {
  border: none;
}
.solution .list-solution .slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  color: white;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}
.solution .list-solution .slick-arrow i {
  font-weight: bolder;
}
.solution .list-solution .slick-arrow.slick-prev {
  left: 0;
}
.solution .list-solution .slick-arrow.slick-prev, .solution .list-solution .slick-arrow.slick-next {
  background-color: rgba(246, 236, 236, 0);
  color: #cfcfcf;
  border: 3px solid #cfcfcf;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.solution .list-solution .card-solution {
  text-decoration: none;
  color: black;
}
.solution .list-solution .card-solution .img-card {
  background: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.solution .list-solution .card-solution .img-card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.solution .list-solution .card-solution .img-card img:hover {
  border: #608127 7px solid;
  border-radius: 50%;
}
.solution .list-solution .card-solution .card-full-name {
  text-align: center;
}
.solution .list-solution .card-solution .card-full-name .name-card {
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}
.solution .list-solution .card-solution .card-full-name .last-name {
  font-style: italic;
  font-size: 14px;
  padding-bottom: 20px;
}

.products .title-product {
  text-align: center;
  padding-top: 50px;
}
.products .title-product p {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  font-size: 32px;
  text-transform: uppercase;
}
.products .title-product .note-product {
  font-size: 16px;
}
.products .category .list-category {
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.products .category .list-category .category-navs-item.active {
  color: #608127;
  border: 1px solid #608127;
  border-radius: 30px;
}
.products .category .list-category .category-navs-item {
  padding: 5px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.products .info-product {
  padding: 10px;
  margin-bottom: 30px;
  border: #d8d8d8 solid 1px;
  border-radius: 5px;
  height: 350px;
  position: relative;
}
.products .info-product .discount-label {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: red;
  padding: 10px 10px;
  border-radius: 0 0px 25px 0;
  font-size: 15px;
  font-weight: bold;
}
.products .info-product .img-product {
  overflow: hidden;
}
.products .info-product .img-product img {
  display: block;
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
}
.products .info-product .img-product img:hover {
  transform: scale(1.1);
}
.products .info-product .product {
  margin-top: 50px;
}
.products .info-product .product .name-product {
  margin-top: 70px;
  text-decoration: none;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}
.products .info-product .product .price {
  display: flex;
}
.products .info-product .product .original-price {
  font-weight: bold;
  margin-left: 20px;
}
.products .info-product .product .sale-price {
  font-weight: bold;
}
.products .view-all {
  text-align: center;
}
.products .view-all a {
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: #ffffff;
  background: #608127;
}
.products .view-all a:hover {
  background: #86d75a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.395);
}

.advantage .img-advantage img {
  width: 100%;
}
.advantage .title-advantage {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 40px;
}
.advantage .title-advantage .text-advantage {
  font-size: 16px;
  text-align: justify;
}
.advantage .title-advantage p {
  color: #608127;
}
.advantage .value {
  display: flex;
  align-items: flex-start;
}
.advantage .value .logo-check i {
  margin-right: 10px;
  font-size: 20px;
  background: linear-gradient(to top, #2d8b37, #c5d557);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.advantage .value .check-name {
  font-weight: bold;
}
.advantage .value .check-text {
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
}

.price-list {
  background-color: #608127;
  color: #ffffff;
  padding-bottom: 50px;
}
.price-list .head-price-list {
  padding-top: 50px;
  margin-top: 50px;
}
.price-list .head-price-list p {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
}
.price-list .head-price-list .text-price-list {
  font-size: 15px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
.price-list .price-table {
  width: 80%;
  margin: 0 auto;
}
.price-list .price-table .slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255) !important;
  outline: none;
  border: none;
  background: none;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}
.price-list .price-table .slick-arrow i {
  font-weight: bolder;
}
.price-list .price-table .slick-arrow.slick-prev {
  left: 0;
}
.price-list .price-table .slick-arrow.slick-prev, .price-list .price-table .slick-arrow.slick-next {
  width: 35px;
  height: 35px;
}
.price-list .price-table .slick-center {
  background-color: rgb(255, 255, 255);
  color: black;
}
.price-list .price-table .slick-center .list-group .list-group-item .centermod {
  color: #608127;
}
.price-list .price-table .slick-center .lienhe .contact-now {
  color: #608127 !important;
  border: 2px solid #608127 !important;
}
.price-list .price-table .slick-center .lienhe .contact-now:hover {
  background-color: #608127;
  color: #ffffff !important;
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
}
.price-list .price-table .box-table {
  padding: 50px 20px;
  border: 3px solid #fff;
  border-radius: 37px;
  height: 500px;
  transition: transform 0.3s ease-in-out, background 0.4s ease-in-out;
}
.price-list .price-table .box-table:not(.slick-current) {
  transform: scale(0.8);
}
.price-list .price-table .box-table p {
  text-align: center;
}
.price-list .price-table .box-table .table-item .list-group {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 20px;
}
.price-list .price-table .box-table .table-item .list-group .list-group-item {
  margin-bottom: 10px;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  color: #fff;
}
.price-list .price-table .box-table .lienhe {
  text-align: center;
  margin-top: 40px;
}
.price-list .price-table .box-table .lienhe .contact-now {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.feedback {
  padding: 50px;
}
.feedback .title-feedback p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 35px;
  text-transform: uppercase;
}
.feedback .list-feedback .custom-dots {
  display: flex;
  list-style: none;
  justify-content: center;
}
.feedback .list-feedback .custom-dots li button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  border: none;
  background: none;
}
.feedback .list-feedback .custom-dots li button::before {
  font-family: "FontAwesome";
  content: "\f111";
  font-size: 16px;
  color: rgba(96, 129, 39, 0.4274509804);
  opacity: 1;
}
.feedback .list-feedback .custom-dots li.slick-active button::before {
  color: #608127;
}
.feedback .list-feedback .feedback-item {
  margin: 50px 20px;
}
.feedback .list-feedback .feedback-item .feedback-content {
  position: relative;
  padding: 45px 30px;
  text-align: justify;
  height: 270px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.feedback .list-feedback .feedback-item .feedback-content .feedback-dot {
  position: absolute;
  top: -6%;
  right: 5%;
  width: 46px;
  height: 46px;
  background: #608127;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.feedback .list-feedback .feedback-item .feedback-info {
  margin-top: 20px;
}
.feedback .list-feedback .feedback-item .feedback-info .avt img {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  border: 2px solid #608127;
  padding: 2px;
}
.feedback .list-feedback .feedback-item .feedback-info .feedback-media .feedback-name {
  font-weight: bold;
  text-align: justify;
  line-height: 25px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.feedback .list-feedback .feedback-item .feedback-info .feedback-media .feedback-name .star {
  color: gold;
}
.feedback .list-feedback .feedback-item .feedback-info .feedback-media .feedback-classtify {
  text-align: justify;
  color: #a7a7a7;
  line-height: 24px;
}

.question {
  padding-top: 50px;
  background-color: #ebebeb;
}
.question .title-question {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  font-size: 30px;
  text-transform: uppercase;
}
.question .box-question {
  margin-bottom: 30px;
  border-radius: 5px;
  background: #dad7d7;
}
.question .box-question .hoi span {
  color: #ffffff;
  background: #608127;
  display: inline-block;
  border-radius: 5px;
  width: 130px;
  text-align: center;
  padding: 10px;
}
.question .box-question .card-question .card {
  background-color: #ebebeb;
  border: none;
  border-radius: 0;
}
.question .box-question .card-question .card .card-head {
  margin-top: 20px;
}
.question .box-question .card-question .card .card-head .item-center {
  align-items: center;
  padding: 10px;
  color: #608127;
  font-weight: bold;
}
.question .box-question .card-question .card .card-head .item-center span i {
  color: rgb(255, 255, 255);
  background-color: #2d8b37;
  padding: 5px 7px;
  border-radius: 100%;
  margin-right: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6196078431);
}
.question .box-question .card-question .card .card-head .item-center .btn-card {
  color: #608127;
  border: none;
  background: none;
  margin-left: 300px;
}
.question .box-question .card-question .card .card-head .item-center .btn-card .question-icon {
  transition: transform 0.3s ease;
}
.question .box-question .card-question .card .card-head .item-center .btn-card .rotate {
  transform: rotate(180deg);
}
.question .box-question .card-question .card .collapse .active::after {
  display: block !important;
}
.question .box-question .card-question .card .collapse .active::before {
  display: block !important;
}
.question .box-question .card-question .card .collapse .sub-question {
  cursor: pointer;
  margin-left: 60px;
  margin-bottom: 20px;
  position: relative;
}
.question .box-question .card-question .card .collapse .sub-question::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #608127;
  border-radius: 50%;
  display: none;
}
.question .box-question .card-question .card .collapse .sub-question::before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -25px;
  background-color: #608127;
  border-radius: 50%;
  display: none;
}
.question .box-answer {
  margin-bottom: 30px;
  border-radius: 5px;
  background: #dad7d7;
}
.question .box-answer .hoi span {
  color: #ffffff;
  background: #608127;
  display: inline-block;
  border-radius: 5px;
  width: 130px;
  text-align: center;
  padding: 10px;
}
.question .card-answer {
  padding-bottom: 50px;
}
.question .card-answer .answer-content {
  display: none;
  margin-top: 20px;
  background-color: #ebebeb;
  border: none;
  align-items: center;
  padding: 20px 30px;
  border: #2d8b37 solid 1px;
  border-radius: 5px;
}
.question .card-answer .answer-content span {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.question .card-answer .answer-content p {
  font-size: 14px;
}

footer {
  padding-top: 50px;
}
footer .logo-footer {
  text-align: center;
  margin-bottom: 25px;
}
footer .logo-footer img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 247px;
  height: 99px;
}
footer .title-footer {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
footer .info-footer {
  color: black;
}
footer .info-footer p {
  margin-bottom: 10px;
}
footer .member {
  padding: 30px 0;
}
footer .member .title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
footer .member .member-list {
  display: flex;
  justify-content: center;
}
footer .member .member-list img {
  width: 92px;
  height: 57px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .ul-reset {
  padding: 0;
  margin: 0;
}
footer .ul-reset li {
  padding: 4px 0;
  text-align: left;
  list-style: none;
}
footer .ul-reset li a {
  padding-left: 40px;
  color: black;
  text-decoration: none;
}
footer .form-subcri {
  margin-top: 10px;
  position: relative;
  border: 1px solid #608127;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
footer .form-subcri .form-control {
  border: 0;
  box-shadow: none;
  height: 40px;
  background: unset !important;
}
footer .form-subcri button {
  color: #fff;
  background: #608127;
  border: 0;
  border-radius: 0 3px 3px 0;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 2px;
}
footer .social-footer {
  display: flex;
  margin: 15px 0;
}
footer .social-footer .embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}/*# sourceMappingURL=index.css.map */