@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menu-mb {
    display: none !important;
  }
  .search-mb {
    display: none;
  }
  .logo-mobile {
    display: none;
  }
  .topbar .menu .logo img {
    margin-bottom: 10px;
    width: 150px !important;
    height: 100%;
  }
  .topbar .menu .menu-list li a {
    font-size: 12px;
  }
  .topbar .menu .header-btn {
    font-size: 12px;
  }
  .filter {
    font-size: 14px !important;
    text-align: center;
  }
  .accordion {
    font-size: 14px !important;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .menu-mb {
    display: block !important;
  }
  .media {
    display: none !important;
  }
  .bg-breadcrumb {
    margin: 0 !important;
    padding-top: 65px !important;
  }
  .head-mobile {
    position: fixed !important;
    z-index: 999;
    width: 100%;
    background-color: #ffffff;
  }
  .head-mobile .logo-mobile {
    display: block;
  }
  .head-mobile .logo-mobile img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .head-mobile .search-mb {
    display: block;
  }
  .topbar {
    display: none !important;
  }
}
@media (max-width: 426px) {
  .menu-mb {
    display: block !important;
  }
  .menu-mb .nav-mb {
    width: 100% !important;
  }
  .menu-mb .overlay {
    display: none;
  }
  .topbar {
    display: none !important;
  }
  .media {
    display: none !important;
  }
  .bg-breadcrumb {
    margin: 0 !important;
    padding-top: 65px !important;
  }
  .head-mobile {
    position: fixed !important;
    z-index: 999;
    width: 100%;
    height: 60px;
    background-color: #fffefe;
  }
  .head-mobile .logo-mobile {
    display: block;
  }
  .head-mobile .logo-mobile img {
    -o-object-fit: scale-down;
       object-fit: scale-down;
    width: 150px !important;
    margin: -10px 0 0 30px;
  }
  .head-mobile .search-mb {
    display: block;
  }
}
.head-mobile {
  display: none;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(121, 121, 121, 0.84);
}
.head-mobile .menu-mb {
  display: none;
}
.head-mobile .menu-mb .header-mb .hamburger {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  z-index: 9999;
  padding: 0;
  margin: 0;
}
.head-mobile .menu-mb .header-mb .hamburger .bar {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #000;
  border-radius: 3px;
  transition: all 0.5s;
}
.head-mobile .menu-mb .header-mb .hamburger .bar:nth-child(1) {
  transform: translateY(-10px);
  width: 20px;
  left: 10px;
}
.head-mobile .menu-mb .header-mb .hamburger .bar:nth-child(2) {
  transform: translateY(10px);
  width: 15px;
  left: 10px;
}
.head-mobile .menu-mb .header-mb .hamburger.active .bar {
  background: red;
}
.head-mobile .menu-mb .header-mb .hamburger.active .bar:nth-child(1) {
  width: 30px;
  transform: translateY(0) rotate(45deg);
}
.head-mobile .menu-mb .header-mb .hamburger.active .bar:nth-child(2) {
  width: 30px;
  transform: translateY(0) rotate(315deg);
}
.head-mobile .menu-mb .header-mb .hamburger.active .bar:nth-child(3) {
  transform: translateX(60px);
}
.head-mobile .menu-mb .header-mb img {
  display: none;
}
.head-mobile .menu-mb .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.162);
  z-index: 5;
  transition: opacity 0.3s ease;
}
.head-mobile .menu-mb .overlay.active {
  display: block;
}
.head-mobile .menu-mb .nav-mb {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: -550px;
  width: 50%;
  height: 100%;
  background-color: white;
  padding-top: 50px;
  transition: left 0.5s ease;
  z-index: 9;
}
.head-mobile .menu-mb .nav-mb .menu-list {
  color: white;
}
.head-mobile .menu-mb .nav-mb .menu-list li {
  background-color: #608127;
  border-bottom: white solid 1px;
  padding: 0;
}
.head-mobile .menu-mb .nav-mb .menu-list li:last-child {
  border-bottom: none !important;
}
.head-mobile .menu-mb .nav-mb .menu-list li a {
  margin-left: 10px;
  padding: 10px;
}
.head-mobile .menu-mb .nav-mb .menu-list .submenu li {
  background-color: white;
  border-bottom: 1px solid #608127;
}
.head-mobile .menu-mb .nav-mb .menu-list .submenu li a {
  color: black !important;
}
.head-mobile .menu-mb .nav-mb .menu-list .submenu li a:hover {
  background: none !important;
  color: #b7c367 !important;
}
.head-mobile .menu-mb .nav-mb.active {
  left: 0;
  width: 50%;
}
.head-mobile .menu-mb .nav-mb ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.head-mobile .menu-mb .nav-mb li a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: block;
}
.head-mobile .menu-mb .nav-mb li a:hover {
  background: none;
  color: #d1db91;
}
.head-mobile .logo-mobile {
  margin: 0;
}
.head-mobile .logo-mobile img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 70px !important;
}
.head-mobile .search-mb i {
  font-size: 20px;
  color: #608127;
  margin: 23px 20px 0 0;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.header {
  background-color: #608127;
}
.header .info .contact {
  color: #ffffff;
  display: flex;
  font-size: 14px;
  height: 15px;
}
.header .info .contact .hotline {
  display: flex;
  margin-left: 100px;
}
.header .info .contact .hotline .number {
  font-weight: 600;
}
.header .info .contact .email {
  display: flex;
  margin-left: 100px;
}
.header .info .contact .email .eml {
  font-weight: 600;
}
.header .info .login-cart {
  display: flex;
  justify-content: end;
}
.header .info .login-cart a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.menu {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(102, 102, 102, 0.7450980392);
}
.menu .logo {
  width: 200px;
  height: 85px;
  margin-bottom: 10px;
}
.menu .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.menu .header-btn {
  font-weight: 600;
  border-radius: 15px 0;
  background: #608127;
  color: #ffffff !important;
  padding: 10px 20px;
  border: 1px solid #608127;
  text-decoration: none;
}
.menu .header-btn:hover {
  color: #608127 !important;
  background-color: white;
}
.menu .main-menu {
  max-width: 1444px !important;
}
.menu .menu-list {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu .menu-list li {
  position: relative;
  cursor: pointer;
}
.menu .menu-list li a {
  text-decoration: none;
  color: #000;
}
.menu .menu-list li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #d39f04;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.menu .menu-list li:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.menu .menu-list li:hover > .submenu {
  display: block;
}
.menu .menu-list li .home-search {
  color: #608127;
}
.menu .menu-list .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6196078431);
  list-style-type: none;
  padding: 10px 10px;
  transform: translateX(0);
  transition: transform 0.5s ease;
}
.menu .menu-list .submenu li {
  padding: 5px 5px;
  white-space: nowrap;
}
.menu .menu-list .submenu li:hover {
  display: block;
  transform: translateX(5px);
  transition: 0.5s;
}

.bg-breadcrumb {
  background: #f7f7f7;
  margin-top: 65px;
}
.bg-breadcrumb .breadcrumb {
  padding: 10px;
}
.bg-breadcrumb .breadcrumb .breadcrumb-item {
  font-size: 14px;
}
.bg-breadcrumb .breadcrumb .breadcrumb-item a {
  color: #608127;
  text-decoration: none;
  font-weight: bold;
}
.bg-breadcrumb .breadcrumb .active {
  color: #608127;
  font-weight: bold;
}
.bg-breadcrumb .breadcrumb .active::before {
  content: "";
}
.bg-breadcrumb .breadcrumb .active i {
  color: #d39f00;
  margin: 3px 10px 0;
  font-size: 14px;
}

.products {
  margin-top: 50px;
}
.products .product-item {
  margin: 0 0 20px;
}
.products .product-item .product-img {
  overflow: hidden;
  border: 1px solid #ccd3de;
  border-radius: 5px;
}
.products .product-item .product-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease;
}
.products .product-item .product-img img:hover {
  transform: scale(1.1);
}
.products .product-item .product-name {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.products .product-item .box-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products .product-item .box-price .price {
  color: red;
  font-weight: bold;
}
.products .product-item .box-price .star {
  color: gold;
  font-size: 0.75rem;
}
.products .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.products .pagination li {
  display: inline;
}
.products .pagination li a {
  text-decoration: none;
  border-radius: 5px;
  margin: 0 5px;
  background: #f1f1f1;
  border: 0;
  padding: 5px 10px;
}
.products .filter {
  color: #fff;
  background: #608127;
  font-size: 1.125rem;
  padding: 5px 20px 3px 20px;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}
.products .accordion {
  background: #fbfbfb;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}
.products .product-search {
  margin-bottom: 25px;
}
.products .product-search .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.products .product-search .input-group button {
  cursor: pointer;
  border: 0;
  color: #fff;
  background: #608127;
  height: 40px;
  width: 56px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  transition: all 0.5s;
}
.products .productCat {
  border: 0;
  border-bottom: 1px solid #ececec;
  background: transparent;
  padding-bottom: 5px;
  border-radius: 0;
  margin-top: 15px;
}
.products .productCat .card-header {
  border-radius: 0;
  margin-bottom: -1px;
  background: transparent;
  padding: 0;
  border: 0;
}
.products .productCat .card-header h2 {
  font-size: 16px;
  font-weight: bold;
}
.products .productCat .card-header .btn-card {
  border: 0;
  color: #608127;
  background: transparent;
  font-size: 18px;
}
.products .productCat .card-header .btn-card i {
  transition: transform 0.3s ease;
}
.products .productCat .card-header .btn-card.collapsed i {
  transform: rotate(180deg);
}
.products .productCat .collapse .card-body .label-cat {
  display: block;
  margin-top: 5px;
}
.products .productCat .collapse .card-body .label-cat input[type=radio] {
  display: none;
}
.products .productCat .collapse .card-body .label-cat .checkmark {
  margin-right: 5px;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
}
.products .productCat .collapse .card-body .label-cat input[type=radio]:checked + .checkmark {
  background-color: rgbrgb(230, 230, 230);
}
.products .productCat .collapse .card-body .label-cat input[type=radio]:checked + .checkmark:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}
.products .slider-wrapper {
  margin: 20px 0;
  padding: 10px;
}
.products .ui-slider-horizontal {
  height: 10px;
  background: #ddd;
}
.products .ui-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #608127;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.products .ui-slider .ui-slider-range {
  background: #608127;
}
.products .price-display {
  margin-top: 10px;
  font-weight: bold;
}
.products .filter-price {
  margin-top: 20px;
  padding: 10px;
  background: #608127;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  padding-top: 50px;
  margin-top: 50px;
  background-color: #f4f4f4;
}
footer .logo-footer {
  text-align: center;
  margin-bottom: 25px;
}
footer .logo-footer img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 247px;
  height: 99px;
}
footer .title-footer {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
footer .info-footer {
  color: black;
}
footer .info-footer p {
  margin-bottom: 10px;
}
footer .member {
  padding: 30px 0;
}
footer .member .title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
footer .member .member-list {
  display: flex;
  justify-content: center;
}
footer .member .member-list img {
  width: 92px;
  height: 57px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .ul-reset {
  padding: 0;
  margin: 0;
}
footer .ul-reset li {
  padding: 4px 0;
  text-align: left;
  list-style: none;
}
footer .ul-reset li a {
  padding-left: 40px;
  color: black;
  text-decoration: none;
}
footer .form-subcri {
  margin-top: 10px;
  position: relative;
  border: 1px solid #608127;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
footer .form-subcri .form-control {
  border: 0;
  box-shadow: none;
  height: 40px;
  background: unset !important;
}
footer .form-subcri button {
  color: #fff;
  background: #608127;
  border: 0;
  border-radius: 0 3px 3px 0;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 2px;
}
footer .social-footer {
  display: flex;
  margin: 15px 0;
}
footer .social-footer .embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}/*# sourceMappingURL=products.css.map */